 body{
    background-image: url(./mothers-day-background-with-roses-left_23-2147776121.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background: url(./mothers-day-background-with-roses-left_23-2147776121.avif); */
    height: 100vh;
    font-family: "Science Gothic", sans-serif;
 }

 .card {
    background-color: aqua;
    width: 400px;
    text-align: center;
 }

 .card-header {
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
 }

 .card-body {
   padding: 10px;
 }

 .card-footer {
   background-color: burlywood;
   padding: 20px;
 }

 .card-btn {
   background-color: darkorchid;
   cursor: pointer;
   border-radius: 25px;
   text-transform: uppercase;
   font-weight: 800;
   transition: all 1s;

 }
 .card-btn:hover{
   background-color: darkgrey;
   transform: scale(1.1);
 }